{% extends "outside/outside.html" %}
{% load static %}
{% block main %}
{% if user.is_superuser %}
    {% if motorcycle_edit %}

    <div id="all_div_register">
        <div id="form_style_2">
            <div id="reg_title">
                <h1>edit motorcycle</h1>
                <span id="icon_title"></span>
            </div>
            <form id="form_product" action="{% url 'form_editing_motorcycle' %}" method="POST">
                
                {% csrf_token %}
                    <div>
                        <label for="manufacturer">manufacturer:</label>
                        <input type="text" name="manufacturer" maxlength="15" required value="{{motorcycle_edit.manufacturer}}">
                    </div>
                    <div>
                        <label for="motorcycle">motorcycle:</label>
                        <input type="text" name="motorcycle" maxlength="15" required value="{{motorcycle_edit.motorcycle}}">
                    </div>
                    <div>
                        <label for="year">year:</label>
                        <input type="text" name="year" maxlength="9" required value="{{motorcycle_edit.year}}">
                    </div>
                    <div>
                        <button id="button_edit" type="submit">edit</button>
                    </div>
            </form>
        </div>
    </div>

    {% else %}
    <div id="all_div_register">
        <div id="form_style_2">
            <div id="reg_title">
                <h1>register motorcycle</h1>
                <span id="icon_title"></span>
            </div>
            <form id="form_product" action="{% url 'form_send_motorcycle' %}" method="POST">
                
                {% csrf_token %}
                    <div>
                        <label for="manufacturert">manufacturer:</label>
                        <input type="text" name="manufacturer" maxlength="15" required>
                    </div>
                    <div>
                        <label for="motorcycle">motorcycle:</label>
                        <input type="text" name="motorcycle" maxlength="15" required>
                    </div>
                    <div>
                        <label for="year">year:</label>
                        <input type="text" name="year" maxlength="9" required>
                    </div>
                    <div>
                        <button id="button_register_product" type="submit">register</button>
                    </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endif %}


<div id="form_style">
    <form method="POST">
        {% if user.is_superuser %}
        <div id="reset_form">
            <a href="/motorcycle">go to register motorcycle</a>
        </div>
        {% endif %}
        <div id="search_div">
            {% csrf_token %}
            <label for="search_product">Search reference: </label>
            <input type="search" name="search_product" id="search_style" placeholder="search">
            <button id="submit_search_style" type="submit">search</button>
        </div>
    </form>
</div>


{% if user.is_superuser %}
<div id="div_table">

    <table id="table_product">

        <thead>
            <tr>
                <th colspan="5" id="th_one">motorcycle</th>
            </tr>
            <tr id="tr_head_second">
                <th>manufacturer</th>
                <th>motorcycle</th>
                <th>year</th>
                <th colspan="2">manage</th>
            </tr>
        </thead>
            {% for row in motorcycle_a %}
                <tr>
                    <td>{{row.manufacturer}}</td>
                    <td>{{row.motorcycle}}</td>
                    <td>{{row.year}}</td>
                    <td><a id="delete" href="/delete_m/{{row.id}}">delete</a></td>
                    <td><a id="edit" href="/edit_m/{{row.id}}">edit</a></td>
                </tr>
            {% endfor %}

        <tbody>
        </tbody>

    </table>

</div>
{% else %}
<div id="div_table">

    <table id="table_product">

        <thead>
            <tr>
                <th colspan="3" id="th_one">motorcycle</th>
            </tr>
            <tr id="tr_head_second">
                <th>manufacturer</th>
                <th>motorcycle</th>
                <th>year</th>
            </tr>
        </thead>
            {% for row in motorcycle_a %}
                <tr>
                    <td>{{row.manufacturer}}</td>
                    <td>{{row.motorcycle}}</td>
                    <td>{{row.year}}</td>
                </tr>
            {% endfor %}

        <tbody>
        </tbody>

    </table>

</div>
{% endif %}

<script src="{% static 'js/m.js' %}"></script>

{% endblock %}