{% extends "outside/outside_login.html" %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static "sty_s.css" %}">
<div id="div_login">
    <h1>sing in</h1>
    <form action="{% url "sign_up" %}" method="POST">
        {% csrf_token %}
        {{form_create_user.as_div}}
        <div>
            <button id="sign_up" type="submit">sign up</button>
        </div>
    </form>
    <div id="div_ft">
        <p>{{auth_validate}}</p>
        <a href="{% url "login" %}">login</a>
    </div>
</div>
<script src="{% static "js/sign.js" %}"></script>
{% endblock  %}